
<div class="section no-pad-bot" id="index-banner">

		<br><br>
		<h3 class="header center orange-text">Welcome to Schoollookerupper.com</h3>
		<div class="row center">
			<h5 class="header col s12 light">This is a platform for reviewing, comparing and evaluating schools whether public or private, small or large, for children or adults, around the world!</h5>
		</div>
		<div class="row center">
      <p>This site was built as an experiment by the guys behind Learnabli. Check us out at <a href="https://www.learnabli.com" target="_blank">Learnabli.com</a>!</p>
			<!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
		</div>
		<br><br>

</div>
